[Unit]
Description=PHP Server Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/php /opt/authentication/server.php
Restart=on-failure
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
