/* Reset and Basic Layout */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url('images/Mental.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar Styles */
#navbar {
    background-color: #2A9D8F;
    color: #ffffff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#navbar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

#navbar ul li a:hover,
#navbar ul li a.active {
    background-color: #264653;
    color: #E9C46A;
    border-radius: 3px;
}

/* Main Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    /* Adjust if navbar height changes */
}

/* Form Styles */
.form-container input[type="text"],
.form-container input[type="password"],
.form-container button,
.form-container input[type="submit"] {
    display: block;
    width: 90%;
    /* Responsive width */
    max-width: 500px;
    /* Maximum width of inputs */
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container label {
    display: block;
    margin: 10px 0;
}

/* Textarea and Select Field Styles */
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

/* Submit Button Styles */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Response Message Styles */
#textResponse {
    text-align: center;
    margin-top: 20px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    #navbar ul {
        flex-direction: column;
    }

    #navbar ul li a {
        width: 100%;
        padding: 15px;
    }

    /* Adjust textarea height for smaller devices */
    textarea {
        max-height: 100px;
    }
}