body {
    font-family: 'Arial', sans-serif;
    background-image: url('index.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgba(236, 240, 241, 0.8); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    text-align: center;
    color: #34495e;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: #2c3e50;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #95a5a6;
    background-color: transparent;
    color: #34495e;
    outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-bottom: 1px solid #3498db;
}

input[type="button"] {
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="button"]:hover {
    background-color: #2980b9;
}

#textResponse {
    text-align: center;
    margin-top: 10px;
}

.company-info {
    margin-top: 30px;
}

.company-info h3 {
    text-align: center;
    font-size: 1.2em;
    color: #34495e;
    margin-bottom: 10px;
}

.company-info p {
    color: #2c3e50;
    text-align: justify;
}
